# maven
target/
classes
generated

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea

# eclipse
*.classpath
*.project
*.prefs
.settings
.metadata
.recommenders
RemoteSystemsTempFiles


# mac
.DS_Store
